div {
  width: fit-content;
  border-radius: 10px;
}

#title-container {
  margin: auto;
  margin-top: 20px;
  padding: 1rem;

}

img {
  border-radius: 10px;
}

#container {
  border: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 1rem;
  justify-content: center;
}

.img-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.img-container:hover {
  transform: scale(1.05);
  transition: all cubic-bezier(5, 5, 5, 5) 0.3s;
  cursor: pointer;
}
