// CSS Reset

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  // background-color: #0d0f12;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color:	#0e1111;
}

#root, #__next {
  isolation: isolate;
}

// Styles

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
}

section {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

//



.menu-items {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

li {
  list-style: none;
}

li a {
  // color: #e3e6e8;
  color: #0e1111;
  font-size: large;
  text-decoration: none;
  transition: all 0.3s ease;
}

li a:hover {
  transition: all 0.3s ease;
  color: #0069ff;
  transform: scale(1.1);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

li .active {
  color: #0069ff;
  transform: scale(1.1);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  section {
    display: flex;
    flex-direction: column;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    gap: 1rem;
  }
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
