<div>
  <h1>Restaurant Manager</h1>
  <nav>
    <ul class="menu-items">
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/restaurants" routerLinkActive="active">Restaurants</a>
      </li>
      <li>
        <a routerLink="/clients" routerLinkActive="active">Clients</a>
      </li>
      <li>
        <a routerLink="/employees" routerLinkActive="active">Employees</a>
      </li>
      <li>
        <a routerLink="/tables" routerLinkActive="active">Tables</a>
      </li>
      <li>
        <a routerLink="/bookings" routerLinkActive="active">Bookings</a>
      </li>
      <li>
        <a routerLink="/orders" routerLinkActive="active">Orders</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">About</a>
      </li>
    </ul>
  </nav>
</div>
