<section>
  <h2>New Restaurant</h2>
  <form [formGroup]="form" (submit)="registerRestaurant()">
    <div>
      <label for="name">Name</label>
      <input
        FormControlName="name"
        type="text"
        id="restaurant"
        name="restaurant"
      />
    </div>
    <div>
      <label for="cnpj">CNPJ</label>
      <input FormControlName="cnpj" type="text" id="cnpj" name="cnpj" />
    </div>
    <div>
      <label for="stars">Stars</label>
      <input formControlName="stars" type="number" id="stars" name="stars" />
    </div>
    <div>
      <label for="cuisine">Cuisine</label>
      <select formControlName="cuisine" name="cuisine" id="cuisine">
        <option value="ITALIAN">Italian</option>
        <option value="FRENCH">French</option>
        <option value="JAPANESE">Japanese</option>
        <option value="TRADITIONAL">Traditional</option>
        <option value="OTHER">Other</option>
      </select>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</section>
