<section>
  <h2>New Restaurant</h2>
  <form [formGroup]="form" (submit)="registerRestaurant()">
    <div>
      <label for="nome">Name</label>
      <input
        formControlName="nome"
        type="text"
        id="restaurant"
        name="restaurant"
      />
    </div>
    <div>
      <label for="cnpj">CNPJ</label>
      <input formControlName="cnpj" type="text" id="cnpj" name="cnpj" />
    </div>
    <div>
      <label for="estrelas">Stars</label>
      <input
        formControlName="estrelas"
        type="number"
        id="estrelas"
        name="estrelas"
      />
    </div>
    <div>
      <label for="tipoComida">Cuisine</label>
      <select formControlName="tipoComida" name="tipoComida" id="tipoComida">
        <option value="ITALIANA">Italian</option>
        <option value="FRANCESA">French</option>
        <option value="JAPONESA">Japanese</option>
        <option value="TRADICIONAL">Traditional</option>
        <option value="OUTRO">Other</option>
      </select>
    </div>
    <div>
      <button type="submit" [disabled]="!this.form.valid">Submit</button>
    </div>
  </form>
</section>
