<section>
  <h2>New Client</h2>
  <form>
    <div>
      <label for="name">First Name</label>
      <input type="text" id="first-name" name="first-name" />
    </div>
    <div>
      <label for="name">Last Name</label>
      <input type="text" id="last-name" name="last-name" />
    </div>
    <div>
      <label for="cpf">CPF</label>
      <input type="text" id="cpf" name="cpf" />
    </div>
    <div>
      <label for="stars">Birthdate</label>
      <input type="date" id="birthdate" name="birthdate" />
    </div>
    <div>
      <label for="gender">Gender</label>
      <div class="radio-container">
        <div class="radio">
          <input type="radio" id="male" name="gender" />
          <label for="male">Male</label>
        </div>
        <div class="radio">
          <input type="radio" id="female" name="gender" />
          <label for="female">Female</label>
        </div>
        <div class="radio">
          <input type="radio" id="unknown" name="gender" />
          <label for="unknown">Unknown</label>
        </div>
      </div>
    </div>
    <div>
      <label for="phone">Phone Number</label>
      <input type="number" id="phone" name="phone" />
    </div>
    <div>
      <label for="restaurant">Restaurant ID</label>
      <input type="number" id="restaurant" name="email" />
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</section>
