<!-- create-client.component.html -->
<section>
  <h2>Client Form</h2>
  <form [formGroup]="form" (ngSubmit)="registerClient()">
    <div>
      <label for="client-nome">Nome</label>
      <input formControlName="nome" type="text" id="client-nome" />
    </div>
    <div>
      <label for="client-sobrenome">Sobrenome</label>
      <input formControlName="sobrenome" type="text" id="client-sobrenome" />
    </div>
    <div>
      <label for="client-cpf">CPF</label>
      <input formControlName="cpf" type="text" id="client-cpf" />
    </div>
    <div>
      <label for="client-dataNascimento">Data de Nascimento</label>
      <input
        formControlName="dataNascimento"
        type="date"
        id="client-dataNascimento"
      />
    </div>
    <div>
      <label for="client-sexo">Sexo</label>
      <input formControlName="sexo" type="text" id="client-sexo" />
    </div>
    <div>
      <label for="client-telefone">Telefone</label>
      <input formControlName="telefone" type="text" id="client-telefone" />
    </div>
    <div>
      <label for="client-restaurante">Restaurante</label>
      <input
        formControlName="restaurante"
        type="text"
        id="client-restaurante"
      />
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</section>
