* {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  height: 100px;
  background-color: #14213d;
  color: #ffffff;
}

h1 {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
  background-color: #e5e5e5;
}

.sidebar-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
  height: 30px;
}

.icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.sidebar-item a {
  color: #14213d;
  text-decoration: none;
}
.main-container {
  width: 100%;
  height: fit-content;
  padding: 50px;
}

.row input {
  margin-bottom: 20px;
}
